body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  text-align: left;
  padding: 15px;
}

#heading1 {
  text-align: center;
  padding-bottom: 20px;
}
#track-name,
#artist-name,
#copyright {
  text-align: center;
  padding: 0;
}
body {
  font-family: "Liberation Font", sans-serif;
  color: #fff;
  background-color: #333;
  padding: 20px;
  margin: 0;
  background-image: url("painting.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@font-face {
  font-family: "Liberation Font";
  src: url(fonts/LiberationSerif-Regular.ttf) format("truetype");
}
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.lastfm-info {
  flex-shrink: 1;
  max-width: 250px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  /*box-shadow: 0 0px 10px rgba(255, 255, 255, 0.6);*/
  backdrop-filter: blur(4px);
}

.main-content {
  flex: 4;
  max-width: 600px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}
.temp-main {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

header {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  margin-top: 20px;
}

#album {
  text-align: center;
}
.lastfm-info,
.main-content {
  max-width: 100%;
}

/* Responsive Design */
@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }
  img {
    max-width: 250px;
  }
  h2,
p {
  text-align: center;
}
.lt {
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding-top: 10px;
}

}
